.wrapper {
    height: 100vh;
}
.login {
    width: 350px;
    padding: 20px;
    height: min-content;
    border-radius: 5px;
    color:#0AD1BB ;
    background-image: linear-gradient(79deg, #f9f9e5, #fadefa 48%, #c6e1f7)
    
}
